   background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: blue;
}
*{
    padding: 0;
    margin: 0%;
}
.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    border: radius 5px;

}
.label{
    padding: 20px 130px;
    font-size: 35px;
    font-weight: bold;
}
.Login_form{
    padding: 20px 40px;
}
.Login_form.font{
    font-size: 18px;
    color: blueviolet;
    margin: 5px 0;

}
.Login_form input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;
}
.Login_form button{
    margin: 45px 0 30px 0;
    height: 45px;
    width: 360px;
    font-size: 20px;
    color:black;
    outline: none;

    background-color: brown;
}
